
<p><%= link_to "サインアン", new_user_session_path%> <%= link_to "ユーザ登録",  new_user_registration_path %></p>
<hr>
<h1>Home page</h1>
<hr>
<% if user_signed_in? %>
    <p>Wellcome <%= current_user.email %></p>
    <br>
    <%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
<% end %>